{% extends 'layout/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>ToDo web</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe natus tempore animi architecto culpa dignissimos voluptates voluptatem, dolore, nulla deserunt doloribus cupiditate asperiores itaque adipisci quidem, quisquam dolorem beatae commodi! Laboriosam illum, amet dicta iste veniam dolor facilis sit officiis iure voluptatibus soluta! Non amet nulla esse, praesentium aliquam quo?</p>
</body>
</html>
{% endblock %}