{% extends 'layout/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks</title>
</head>
<body>
  <h1>Tasks</h1>
  <h3><a href="/projects">Project: {{ project.name }}</a></h3>
  <ul class="task_list">
    {% for task in project_tasks %}
        <li><a href="/task/{{task.id}}">{{ task.title }}</a></li>
        <button>Delete</button>
        <input type="checkbox">
    {% endfor %}
  </ul>
  <button class="create_task"><a href="/create_task/{{ project.id }}">Create task</a></button>
</body>
</html>
{% endblock %}
