{% extends 'layout/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task</title>
</head>
<body>
  <div class="task_container">
    <span>
      <h1>{{ task.title }}</h1>
      <p>{{ task.description }}</p>
    </span>
    <div class="task">
      {% if task.completed == False %}
        <input class="checkbox-t" type="checkbox" disabled>
        <button><a class='delete-a' href="/completed/{{ task.id }}">Complete</a></button>
      {% else %}
        <input class="checkbox-t" type="checkbox" checked disabled>
      {% endif %}
        <button><a href="/delete_task/{{ task.id }}">Delete</a></button>
    </div>
  </div>
  <button class="back"><a href="/tasks/{{ task.project_id }}">↩ Back</a></button>
</body>
</html>
{% endblock %}
