{% extends 'layout/bootstrap.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  {% if user.is_authenticated %}
  <h3>Already logged in as: <a style="font-weight: bold;">{{ user.username }}</a></h3>
  {% else %}
    <h1 style="font-weight: bold; color: black;">Login</h1>
    <form method="POST" style="margin: 22; margin-top: 35;">
      {% csrf_token %}
      {{ form|crispy }}
      <div style="margin-top: 30;">
        <button class="btn btn-success" type="submit">Login</button>
        <a href="/sign_up" style="margin: 30;">Create account</a>
      </div>
    </form>
  {% endif %}
</body>
</html>

{% endblock %}