body {
  margin: 40 !important;
}

a {
  text-decoration: none !important;
  color: darkviolet;
}

li {
  margin: 8;
}

.create_project {
  margin-top: 17;
  padding: 5;
}

.back {
  margin-top: 14;
  padding: 5;
}

.task {
  margin-top: 20;
}

span {
  margin: 10;
}

.project {
  margin: 20;
  background-color: #b3b2b2;
}

.create_task {
  margin-top: 17;
  padding: 5;
}

.task_list {
  background-color: #b3b2b2;
  padding: 20;
  padding-left: 40;
}

.project_div {
  background-color: #b3b2b2;
  padding: 1;
}

.task_container {
  background-color: #b3b2b2;
  padding: 15;
  padding-bottom: 30;
  padding-top: 2;
  margin-top: 14;
}

form {
  background-color: #b3b2b2;
  margin: 10;
  padding: 25;
  padding-top: 13;
  margin-top: 25;
}

.checkbox {
  margin: 10;
  margin-left: 25;
}

.checkbox-t {
  margin: 10;
}

.delete-a {
  color: black;
}

.delete-bttn {
  margin-left: 25;
}

html {
  background-color: lightgrey;
}

ul {
  line-height: 1.5;
}